<div class="row br">
    <ul class="nav nav-tabs">
        <li id="sub-nav-user"><a href="/user/profile">Informations personnelles</a></li>
        <li id="sub-nav-order"><a href="/order/">Gestion des commandes</a></li>
        <li id="sub-nav-address"><a href="/user/userAddress">Gestion d'adresses</a></li>
        <%--<li id="sub-nav-security"><a href="/user/security">Gestion de la sécurité</a></li>--%>
    </ul>
</div>